venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
celerybeat-schedule
celerybeat.pid
*.coverage
.coverage.*
htmlcov/
.pytest_cache/
pytestdebug.log
*.mod
*.so
